header {
    background: url('/img/header_bg.jpg') no-repeat center center / cover;
    padding: 10px 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.brand-name {
    color: rgb(250, 255, 0);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.brand-slogan {
    font-size: 20px;
    color: white;
    margin: 5px 0 0 0;
}

.brand-slogan-lastline {
    font-size: 16px;
    color: white;
    margin: 0;
}