header {
    background-color: black;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}